@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #0f1113;
  --foreground: #ededed;
  --primary: #0fb96a;
  --borderclr: #272a2d;
  --cardbgclr: #131517;
  --uibgclr: #1c1e20;
  --graytext: #898A8B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-borderclr: var(--borderclr);
  --color-uibgclr: var(--uibgclr);
  --color-cardbgclr: var(--cardbgclr);
  --color-graytext: var(--graytext);
  
  
  --animate-float: float 6s ease-in-out infinite;
  --keyframes-float: {
    0%, 100%: { transform: translateY(0); }
    50%: { transform: translateY(-20px); }
  }


  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui;
  --font-space: var(--font-space), sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.03'/%3E%3C/svg%3E");
  pointer-events: none;
  z-index: 50;
}

::selection {
  background: rgba(15, 185, 106, 0.2);
  color: #0fb96a;
}