@import "tailwindcss";

:root {
  --background: #0f1113;
  --foreground: #171717;
  --grey-background: #131517;
  --primary: #0fb96a;
  --borderclr: #1e2122;
  --ui-background: #1c1e20;
  --card-background: #131517;
  --gray-text: #898A8B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-borderclr: var(--borderclr);
  --color-uibgclr: var(--ui-background);
  --color-cardbgclr: var(--card-background);
  --color-graytext: var(--gray-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f1113;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
