@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.75rem;
}

.dark {
  --background: 222 10% 5%;
  --foreground: 210 20% 98%;

  --card: 222 40% 0%;
  --card-foreground: 210 20% 98%;

  --primary: 155 64% 40%;
  --primary-foreground: 0 0% 0%;

  --secondary: 222 30% 14%;
  --secondary-foreground: 210 20% 98%;

  --muted: 222 30% 16%;
  --muted-foreground: 215 20% 65%;

  --border: 222 10% 20%;
  --ring: 158 64% 52%;
}

/*TAILWIND V4 THEME TOKENS*/

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-border: hsl(var(--border));
  --color-ring: hsl(var(--ring));

  --radius-lg: var(--radius);
}

/*BASE STYLES*/

@layer base {
  * {
    border-color: var(--color-border);
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-feature-settings: "ss01", "ss02";
  }
}
